#logo{
	height: 100px;
	width:200px;
	border:none;
}

#right-main-div{
	border:1px solid rgba(0, 0, 0, 0.125);
}


.mt-10{
    margin-top:10px;
}

.fl{
    float:left;
}
p{font-size: 15px;}

.bold-content{
    font-weight: bolder;
    font-size: 20px;
    font-style: oblique;
    color: indianred;
}

.footer{
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
    font-style: oblique;
    color: indianred;
    margin-bottom: 300px;

}

.suggetion{
    border:1px solid #AEEBBA;
    float:left;
    padding-left:10px;
    margin-bottom: 20px;
}

.blink-text{
    color:green;
    animation: blink 1s linear infinite;
}

@keyframes blink{
    0%{opacity: 0;}
    50%{opacity: .5;}
    100%{opacity: 1;}
    }
h2{
	color: chocolate;
	font-size: 25px;
	}	
h6{display:inline;}

ul,ol{
		padding:20px 0px 0px 30px;
		
		
	}

pre{
	background:#F3EBEB;
	padding: 15px;
    border-radius: 10px;
}

.orange{color:orange;}
.blue{color:blue;}
.green{color:green;}


.m-l-20{margin-left:0px;}

.list-group ul{
  margin: 10px 0px 0px 10px;
  padding: 0;
}
.list-group ul li{list-style-type: none;}

a.list-group-item:hover{
  z-index: 1;
  text-decoration: none;
  background-color: #F3EBEB;
  color: #8A2BE2;
  font-weight: bold;
}

@keyframes blinker {
                50% {
                    opacity: 0;
                }
            }

#blink {
        animation: blinker 1.5s linear infinite;
        color: #117864;
        transition: 0.5s;
       }